{% extends 'Eliastre100DashboardBundle::layout.html.twig' %}


{% block title %}
	Create a room
{% endblock %}

{% block content %}
	{{ form_start(form) }}
	{{ form_errors(form.name) }}
	{{ form_label(form.name) }}
	{{ form_widget(form.name) }}
	<br />
	{{ form_errors(form.description) }}
	{{ form_label(form.description) }}
	{{ form_widget(form.description) }}
	{{ form_end(form) }}

	<hr />
	<p>You can modify this page by editing src/Eliastre100/Dashboard/Ressources/views/Rooms/create.html.twig<br />Note that for all page you can overload all pages <a target="_blank" href="http://symfony.com/doc/current/cookbook/bundles/override.html" >according to the documentation</a></p>
            </p></p>
{% endblock %}

{% block dynentry %}
	<li class="active" ><a href="{{ path('eliastre100_dashboard_create') }}">Create room</a></li>
{% endblock %}